extends layout

block content
	if user
		if user.admin == true
			h1 Welcome, #{user.name}
			p You are an administrator of this system
		else
			h1 Welcome, #{user.name}
			a(href='/patients/' + user.health_no) View your informaiton 
			hr
	else
		h1 #{title}
		p This is a Medical Clinic CMS
		p Please log-in to use system