extends /layout
block content
    h1 #{title}
    form(action="/nurses/add", method="POST")
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label SIN:
            input.form-control(name='sin', type='text')
        #form-group
            label Phone number: 
            input.form-control(name='phone_no', type='text')
        br
        input.btn.btn-primary(type='submit',value='Submit') 