extends /layout
block content
    h1 #{title}
    form(action="/nurses/edit/"+nurse._id, method="POST")
        #form-group
            label Name:
            input.form-control(name='name', type='text', value=nurse.name)
        br
        input.btn.btn-primary(type='submit',value='Submit') 