extends /layout
block content
	h1 #{title}
	form(method='POST', action='/patients/add')
		#form-group
			label Health Number: 
			input.form-control(name='health_no', type='text')
		#form-group
			label Name: 
			input.form-control(name='name', type='text')
		#form-group
			label Phone number: 
			input.form-control(name='phone_no', type='text')
		#form-group
			label Street number: 
			input.form-control(name='street_no', type='text')
		#form-group
			label Street Name: 
			input.form-control(name='street_name', type='text')
		#form-group
			label City: 
			input.form-control(name='city', type='text')
		#form-group
			label Province: 
			input.form-control(name='province', type='text')
		br
		input.btn.btn-primary(type='submit',value='Submit') 
