extends /layout

block content
    if user
        if user.admin == true
            h3 #{title}
            ul.list-group
                each patient, i in patients
                    li.list-group-item
                        a(href="/patients/history/"+patient._id) Health Number: #{patient._id}, Name: #{patient.name}

    else
        p Please login to use the system