extends /layout

block content
    h2 #{title}
    ul.list-group
        each appointment, i in appointments
            li.list-group-item
                a(href="/appointments/"+appointment._id) Patient ID: #{appointment._patient}, Purpose: #{appointment.purpose} 
    a.btn.btn-default(href='/appointments/add') Add Appointment