extends /layout
block content
    h1 #{title}
    form(action="/receptionists/edit/"+receptionist._id, method="POST")
        #form-group
            label Name:
            input.form-control(name='name', type='text', value=receptionist.name)
        #form-group
            label Phone number: 
            input.form-control(name='phone_no', type='text', value=receptionist.phone_no)
        br
        input.btn.btn-primary(type='submit',value='Submit') 